@font-face {
  font-family: 'Roboto medium';
  src:
    url('../fonts/robotomedium.woff2') format('woff2'),
    url('../fonts/robotomedium.woff') format('woff');
}
@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black.woff2') format('woff2'),
         url('../fonts/roboto-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack_italic';
    src: url('../fonts/roboto-blackitalic.woff2') format('woff2'),
         url('../fonts/roboto-blackitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold.woff2') format('woff2'),
         url('../fonts/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold_italic';
    src: url('../fonts/roboto-bolditalic.woff2') format('woff2'),
         url('../fonts/roboto-bolditalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoitalic';
    src: url('../fonts/roboto-italic.woff2') format('woff2'),
         url('../fonts/roboto-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light.woff2') format('woff2'),
         url('../fonts/roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight_italic';
    src: url('../fonts/roboto-lightitalic.woff2') format('woff2'),
         url('../fonts/roboto-lightitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium.woff2') format('woff2'),
         url('../fonts/roboto-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium_italic';
    src: url('../fonts/roboto-mediumitalic.woff2') format('woff2'),
         url('../fonts/roboto-mediumitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular.woff2') format('woff2'),
         url('../fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin.woff2') format('woff2'),
         url('../fonts/roboto-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin_italic';
    src: url('../fonts/roboto-thinitalic.woff2') format('woff2'),
         url('../fonts/roboto-thinitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	color: #fff;
	font-family: "robotoregular", "Arial", sans-serif;
	background-color: #849d8f;
	min-width: 1200px;
	margin: 0px;
}
header {
	margin-bottom: 19px;
	font-family: "robotobold", "Arial", sans-serif;
}
a {
	color: #fff;
	text-decoration: none;
	font-family: "robotomedium", "Arial", sans-serif;
	background-image: url("../img/underline.png");
	background-repeat: repeat-x;
	background-position: 0 19px;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	margin-left: auto;
	margin-right: auto;
	background-color: purple;
	width: 1146px;
	min-height: 1px;
	padding: 0 27px;
	border-top: 1px solid transparent;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.main-header {
	background-color: black;
}

.main-navigator {
	float: left;
	width: 700px;
	background-color: red;
	font-size: 0px;
}
.logo-img-small {
	float: left;
	background-color: pink;
	margin-left: -5px;
	margin-top: 8px;
}
.main-navigator ul {
	float: left;
	background-color: yellow;
	width: 400px;
	padding-left: 30px;
	margin-top: 26px;
} 
.main-navigator li {
	font-size: 16px;
	display: inline-block;
	background-color: green;
	margin-right: 28px;

}
.user-block {
	float: right;
	width: 300px;
	background-color: purple;
}
.find::before {
	content: "";
	padding-right: 20px;
	background-image: url("../img/loop.svg");
	background-repeat: no-repeat;
}
.login::before {
	content: "";
	padding-right: 20px;
	background-image: url("../img/enter.svg");
	background-repeat: no-repeat;
}
.basket::before {
	content: "";
	padding-right: 20px;
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
}
.filled::before {
	background-image: url("../img/basket-hover.svg"), url("../img/basket-fill.svg");
	background-position: center center, 4px 3px;
}
.head-contacts {
	width: 200px;
	background-color: green;
	margin-right: 0px;
	margin-left: auto;
	text-align: right;
}
.head-contacts span {
	background-color: brown;
}
li {
	list-style-type: none;
}
.slider {
	background-color: orange;
	height: 535px;
	margin-bottom: 20px;
}
.breadcrumbs li {
	display: inline-block;
	background-color: orange;
}
.offers {
	background-color: yellow;
	margin-bottom: 40px;
}
.offer {
	width: 560px;
	min-height: 229px;
	border-radius: 15px;
}
.offer-raspberry {
	background-image: url("../img/banner-raspberry.jpg");
	background-position: -27px -94px;
	background-color: #c6547e;
	background-repeat: no-repeat;
	float: left;
}
.offer-chocolate {
	background-image: url("../img/banner-chocolate.jpg");
	background-position: -218px -104px;
	background-color: #4d2a16;
	background-repeat: no-repeat;
	float: right;
}
.ices {
	background-color: magenta;
	text-align: center;
	font-size: 0px;
}
.ice {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 267px;
	height: 362px;
	background-color: red;
	margin-bottom: 0px;
	margin-right: 26px;
}
.ice:nth-child(4n) {
	margin-right: 0px;
}
.ice-img {
	margin-bottom: 12px;
}
.ice  a {
	font-size: 16px;
	line-height: 22px;
}
.ice p {
	
	font-family: "robotobold", "Arial", sans-serif;
	position: absolute;
	top: 199px;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.hit::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background-image: url("../img/hit.png");
	background-repeat: no-repeat;
	width: 61px;
	height: 61px;
}
.price {
	display: inline-block;
	font-size: 45px;
	font-weight: bold;
}
.rubl::before {
	content: "";
	display: inline-block;
	width: 31px;
	height: 31px;
	-webkit-filter: drop-shadow(1px 1px 3px rgba(49, 50, 53, 0.5));
	background-image: url("../img/rubl.svg");
	background-repeat: no-repeat;
}
.measure {
	display: inline-block;
	margin-left: 5px;
	font-size: 30px;
	font-weight: bold;
}

.about-glaccy {
	background-image: url("../img/waffles.jpg");
	color: #000;
	border: 1px solid transparent;
	background-color: #f2e7d5;
	border-radius: 15px;
	min-height: 304px;
	margin-bottom: 40px;
}
.about-glaccy ul {
	padding-top: 39px;
	padding-left: 20px;
}
.about {
	padding-left: 60px;
	display: block;
	float: left;
	vertical-align: top;
	width: 500px;
	background-color: blue;
}

.about-1 {
	background-image: url("../img/seo/ice-cream.svg");
	background-repeat: no-repeat;
}
.about-2 {
	background-image: url("../img/seo/cow.svg");
	background-repeat: no-repeat;
}
.about-3 {
	background-image: url("../img/seo/leaf.svg");
	background-repeat: no-repeat;
}
.about-4 {
	background-image: url("../img/seo/termometer.svg");
	background-repeat: no-repeat;
}
.blog {
	color: #000;
	background-color: #adc;
	margin-bottom: 40px;
}
.blog-news,
.subscribe {
	width: 560px;
	height: 220px;
}
.blog-news {
	float: left;
	border-radius: 15px;
	background-color: #fff;
	background-image: url("../img/news-strawberry.jpg");
	background-repeat: no-repeat;
	background-position: 192px -39px;
}
.blog-news a {
	background-image: none;
	color: #000;
}
.subscribe {
	float: right;
	background-image: url("../img/mail-pattern.png");
	background-position: 3px 0px;
	border-radius: 15px;
	width: 560px;
}
.subscribe-inner {
	height: 208px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f8f7f4;
	border: 1px solid transparent;
	border-radius: 9px;
	width: 548px;
}
.map {
	background-image: url("../img/pin.svg"), url("../img/pin-shadow.png"), url("../img/map.jpg");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-position: 267px 139px, 304px 169px, 0px -108px;
	width: 1200px;
	margin-left: -27px;
	min-height: 429px;
	background-color: orange;
	color: #000;
	font-size: 14px;
	font-weight: 400;
}

.map-address {
	display: block;
	float: right;
	margin-top: 62px;
	margin-right: 27px;
	width: 302px;
	min-height: 305px;
	background-color: #fff;
	border-radius: 15px;

}
.map-address p{
	background-color: red;
	width: 200px;
}
footer {
	background-color: black;
	margin-top: 19px;
}
.footer-social {
	float: left;
	width: 220px;
	height: 39px;
	background-color: yellow;
	margin-right: 60px;
	margin-top: 16px;
	font-size: 0px;
}
.footer-links {
	float: left;
	width: 300px;
	background-color: yellow;
	margin-top: 10px;
}
.footer-copyright {
	float: right;
	width: 300px;
	background-color: yellow;
}
.footer-social ul {
	list-style-type: none;
	margin-top: 4px;
	margin-left: -35px;
}
.footer-social li {
	display: inline-block;
	margin-right: 18px;	
}
a.social-btn {
	width: 31px;
	height: 31px;
	display: inline-block;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	box-shadow: 0 0 0 3px #dbe3de;
	border-radius: 50%;
}
a.social-btn:hover {
	opacity: 1;
	box-shadow: 0 0 0 4px #dbe3de;
}
a.social-btn-vk {
	background-image: url("../img/social/vkontakte.svg");
}
a.social-btn-fb {
	background-image: url("../img/social/facebook.svg");
}
a.social-btn-inst {
	background-image: url("../img/social/instagram.svg");
}
a.social-btn-twit {
	background-image: url("../img/social/twitter.svg");
}